body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 70%,
    #1f1f1f 70%,
    #1f1f1f 100%
  );
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 2rem 0 0 0;
}

.main-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin: 0 0 0 5rem;
}

.routes {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.link {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: #979797;
}

.link:first-child {
  color: #1f1f1f;
}

div .link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 5rem 0 0;
}

.subscribe-button {
  background-color: #000;
  color: #fff;
  height: 3rem;
  width: 7.5rem;
  border-radius: 1rem;
  border: none;
  text-transform: capitalize;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 5rem;
}

.sub-heading {
  font-size: 4.6rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -4px;
  margin: 7rem 0 2rem 0;
  width: 50%;
}

.explainer {
  font-size: 1.475rem;
  color: #979797;
  font-family: "Merriweather", serif;
  font-weight: 500;
  width: 56%;
  letter-spacing: 0.4px;
  line-height: 2rem;
}

.get-started-button {
  background-color: #000;
  color: #fff;
  height: 2.7rem;
  width: 9rem;
  border-radius: 0.7rem;
  border: none;
  text-transform: capitalize;
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 1rem;
}

.video-button {
  color: #000;
  border: none;
  background: none;
  font-family: "Merriweather", serif;
  height: 2.7rem;
  width: 9rem;
  margin-left: 2rem;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 1rem;
}
